.main {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.sidebar-main {
  width: 200px;
  float: left;
}

.sidebar-footer {
  margin-top: 10px;
  float: left;
}
