.navbar{
    background-color: #b6ef70;
    display: flex;
}
.navbar-logo {
    
    display: flex;
    
}
.navbar-light{
    display: flex;
    justify-content: center;

}
.navbar-light h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial', cursive;
}
.navbar-logo-img{
    width: 50px;
    border-radius: 10px;
}